apiVersion: batch/v1
kind: Job
metadata:
  name: generate-traces-{{LOAD_NAME}}
  namespace: {{NAMESPACE}}
  labels:
    app: trace-generator
    load: "{{LOAD_NAME}}"
spec:
  completions: {{PARALLELISM}}
  parallelism: {{PARALLELISM}}
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      labels:
        app: trace-generator
        load: "{{LOAD_NAME}}"
    spec:
      nodeSelector:
        node-role.kubernetes.io/worker: ""
      containers:
{{CONTAINERS}}
      restartPolicy: Never
  backoffLimit: 4

