apiVersion: batch/v1
kind: Job
metadata:
  name: generate-traces-{{LOAD_NAME}}
  namespace: {{NAMESPACE}}
  labels:
    app: trace-generator
    load: "{{LOAD_NAME}}"
spec:
  completions: {{PARALLELISM}}
  parallelism: {{PARALLELISM}}
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      labels:
        app: trace-generator
        load: "{{LOAD_NAME}}"
    spec:
      nodeSelector:
        node-role.kubernetes.io/worker: ""
      containers:
        - name: loadgen
          image: ghcr.io/honeycombio/loadgen/loadgen:latest
          args:
            - --dataset=loadtest
            - --tps={{TPS}}
            - --depth={{DEPTH}}
            - --nspans={{NSPANS}}
            - --runtime={{RUNTIME}}
            - --ramptime=1s
            - --tracecount=0
            - --protocol=grpc
            - --sender=otel
            - --host={{TEMPO_HOST}}:{{TEMPO_PORT}}
            - --insecure
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
      restartPolicy: Never
  backoffLimit: 4

